body {
  font-family: "Nova Round", cursive;
  font-family: "Varela Round", sans-serif;
}

pre {
  background-color: rgb(233, 239, 245);
}

nav div img {
  margin-right: 5px;
}

@media print {
  nav {
    display: none !important;
  }
}
